---
import "../styles/style.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  description: string;
  url: string;
  ogImage: string;
  ogAlt: string;
}

const { title, description, url, ogImage, ogAlt } = Astro.props;
---

<!doctype html>
<html lang="en" itemscope itemtype="https://schema.org/Article">
  <head>
    <!-- technical -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- seo -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index,follow" /><!-- All Search Engines -->
    <meta name="googlebot" content="index,follow" /><!-- Google Specific -->
    <!-- open graph -->
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:image:alt" content={ogAlt} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Avidu.me" />
    <meta property="og:locale" content="en_US" />
    <meta property="article:author" content="Avidu Bandara" />
    <!-- schema org -->
    <link rel="author" href="Avidu Bandara" />
    <link rel="publisher" href="Avidu" />
    <meta itemprop="name" content={title} />
    <meta itemprop="description" content={description} />
    <meta itemprop="image" content={ogImage} />
  </head>
  <!-- end of head -->
  <!-- body -->
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
  <!-- end of body -->
</html>
